.navbar {
  list-style-type: none;
  max-height: 20px;
 }
.birdlogo {
  width: 120px;
  vertical-align: top;
  height: 50px;
  margin-top: -25px;
  padding-right: 20px;}

.container.listpadding {
  margin-top: 25px;
}
